
body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', Arial, sans-serif;
    background-color: #f8f8f8;
  }
  
  .navbar {
    display: flex;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #333;
    position: sticky;
    z-index: 999;
    top: 0;
  }

  .navbar__container {
    display: flex;
    height: 80px;
    justify-content: space-between;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
 }
 .navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
 }
  
 .navbar__item {
    height: 80px;
 }

 .navbar__links {
    color: #d4a373;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    line-height: 10px;
 }

 
  /* logo */
  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  .text {
    font-size: 12px;
    font-weight: 100;
    color:#d4a373;
  }
  
  .ampersand {
    font-size: 12px;
    color: #fff;
    margin: 0 10px;
    font-family: 'Playfair Display', serif; 
  }
  
  .underline {
    width: 80px;
    height: 2px;
    background-color: #fff; 
    margin-top: 5px;
    border-radius: 10px;
    animation: slideIn 1s ease-out;
  }
  
  @keyframes slideIn {
    from {
      width: 0;
      opacity: 0;
    }
    to {
      width: 20px;
      opacity: 1;
    }
  }

 

